.weatherComponent {
  background-color: #0078d4;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px !important;
}
.container {
  color: #f7f7f7;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5rem;
}

.container img {
  width: 75px;
}

.night {
  background: url("../../assets/night-sky.png");
}

.day {
  background: url("../../assets/day-sky.png");
}
@media (max-width: 768px) {
  .container {
    gap: 2rem !important;
  }
}
/* .temp {
} */

/* .location {
} */

/* .weather {
} */
